{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> {{listing.resources.name}} listing</h1>
            </div>

            Genre: 
            <ul>
                    {% for genre in listing.resources.genres %}
                    <li>{{ genre|e }}</li>
                    {% endfor %}
             </ul>


         
            <div class="list-group">
                <h2 class="list-group-item list-group-item-action active">episodes:</h2>
                    {% for episode in listing.resources._embedded.episodes %}
                  
                    <a href="./{{episode.id}}" class="list-group-item list-group-item-action">{{ episode.name|e }}</a>
                   
                    {% endfor %}
             </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
